<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forbitbd.myplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".fullScreen.FullScreenPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".rtmp.RTMPPlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".MyPlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="userLandscape" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>